@charset "utf-8";

@font-face { 
 font-family: abc123; 
 src: url(/fonts/abc123.ttf); 
} 
p { 
 font-family: abc123; 
 
} 

.titlecontent {
	font-family: abc123;
	font-size: 36px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-align: center;
	height: auto;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
.heading {
	font-family: abc123-bold;
	font-size: 48px;
	font-style: normal;
	font-weight: normal;
}
.content {
	font-family: abc123;
	font-size: 36px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-align: left;
	height: auto;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
img {
        vertical-align: middle;
}   
