<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>One Academy</title>
<link href="../main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="titlecontent">
  <div class="heading">
    <p>Congratulations!</p>
  </div>
  <p>You've learned all there is to know about views!</p>
  <p><img src="../images/badge-views.svg" width="218" height="218" alt=""/></p>
</div>
<div class="content">
  <p>Finding your way around Sugar should be a snap now! Don't forget that you can also switch between views using the view keys on the keyboard.</p>
  <p>Hit Next to learn about settings.</p>
</div>
</body>
</html>
