<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>One Academy</title>
<link href="../main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="content">
  <div class="heading">
    <p>The Four Views of Sugar</p>
  </div>
  <p>Activity View<br>
    This is where you are now. It's the view of the activity you're currently using.  </p>
  <p>Home View<br>
    This is where you access activities from, you see it whenever you press My Turn.
  </p>
  <p>Group View<br>
    Shows your frequent collaborators (friends) and their shared activities.
  </p>
  <p>Neighbourhood View<br>
    Shows nearby XOs and shared activities on your network. It is also where you see available networks to join.</p>
  <p>Hit Next to see a video showing you each view.</p>
</div>
</body>
</html>
