<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>One Academy</title>
<link href="../main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="content">
  <div class="heading">
    <p>Getting to Know the Views</p>
  </div>
  <p>Views are the different screen areas you can access in Sugar. We've talked about them a little before, but now it's time to understand them.  </p>
  <p><img src="../images/zoom-neighborhood.svg" width="40" height="40" alt=""/> <img src="../images/zoom-group.svg" width="40" height="40" alt=""/> <img src="../images/zoom-home.svg" width="40" height="40" alt=""/> <img src="../images/zoom-activity.svg" width="40" height="40" alt=""/></p>
  <p>Views function on the same principle as zooming in and out. Right now you're in the activity view, but you could &quot;zoom out&quot; to the home view, and &quot;zoom out&quot; from there to the group and neighbourhood views.</p>
  <p>Hit Next to learn how.</p>
</div>
</body>
</html>
