<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Getting to Know the Views</title>
<link href="../main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="content">
  <div class="heading">
    <p>Getting to Know the Views</p>
  </div>
  <p>Views are the different areas you access in Sugar. We've talked about them a little before, but now it's time to understand them.  </p>
  <p><img src="../images/zoom-neighborhood.svg" width="110" height="110" alt=""/> <img src="../images/zoom-group.svg" width="110" height="110" alt=""/> <img src="../images/zoom-home.svg" width="110" height="110" alt=""/> <img src="../images/zoom-activity.svg" width="110" height="110" alt=""/></p>
  <p>Each view serves a purpose: to connect with friends, to find activities, to work on projects, etc.</p>
  <p>Navigating views functions on the same principle as zooming in and out. Right now you're in the Activity view, but you could &quot;zoom out&quot; to the Home view, and &quot;zoom out&quot; from there to the Group and Neighbourhood views.</p>
  <p>Hit Next to learn how.</p>
</div>
</body>
</html>
