<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>One Academy</title>
<link href="../main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="content">
  <div class="heading">
    <p>Switch Between the Four Views</p>
  </div>
  <p>Simply switch between views, before returning to One Academy all via the Frame. So open the Frame, and click each individual view.</p>
  <p>Neighbourhood <img src="../images/zoom-neighborhood.svg" width="40" height="40" alt=""/></p>
  <p>Group <img src="../images/zoom-group.svg" width="40" height="40" alt=""/></p>
  <p>Home <img src="../images/zoom-home.svg" width="40" height="40" alt=""/></p>
  <p>Activity or the One Academy icon <img src="../images/zoom-activity.svg" width="40" height="40" alt=""/> <img src="../images/one-academy.svg" width="40" height="40" alt=""/><br>
  The activity view will bring you to your last used activity, and the icon of an open activity will bring you back to that activity.</p>
  <p>You can hit Next after you've looked at each view.</p>
</div>
</body>
</html>
