<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Getting to Know the Views</title>
<link href="../main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="content">
  <div class="heading">
    <p>The Four Views of Sugar</p>
  </div>
  <p>Activity View<br>
    This is where you are now. It's the view of the Activity you're currently using.</p>
  <p>Home View<br>
    This is where you access Activities from, you see it whenever you press &quot;My Turn&quot;.
  </p>
  <p>Group View<br>
    Shows your frequent collaborators (friends) and their shared Activities.
  </p>
  <p>Neighbourhood View<br>
    Shows nearby XOs and shared Activities on your network. It is also where you see available networks to join.</p>
  <p>Hit Next to see a video showing each view.</p>
</div>
</body>
</html>
