<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Getting to Know the Views</title>
<link href="../main.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="content">
  <div class="heading">
    <p>Adding a Favourite to the Home View</p>
  </div>
  <p>The Home view is where your activity icons live. You can switch the Home view between two different modes: Favourites and List.</p>
  <p>Favourites <img src="../images/view-radial.svg" width="55" height="55" alt=""/> will show you only the activities that you tell it to. You are probably familiar with this mode as it's the default view; it's likely showing activities in a circle or spiral shape.</p>
  <p>List <img src="../images/view-list.svg" width="55" height="55" alt=""/> will show you all the available activities. Predictably it does so in the form of a list.</p>
  <p>By going to list <img src="../images/view-list.svg" width="55" height="55" alt=""/> view, you can click the star <img src="../images/emblem-favorite.svg" width="55" height="55" alt=""/> next to an activity and add it to your favourites.</p>
  <p>Hit Next to see how and give it a try!</p>
</div>
</body>
</html>
